body{
    background: #dfe6e9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2d3436;
}

.wrapper{
    max-width: 768px;
    margin: auto;
    font-size: 1rem;
    line-height: 1.8;
}

h1{
    text-align: center;
    border-bottom: 3px solid;
    font-size: 1.3rem;
}

h2{
    font-size: 1.2rem;
}

.all-projects{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.project-content{
    margin-bottom: 20px;
    background: #b2bec3;
    padding: 20px;
}

a{
    color: #2d3436;
    font-weight: bold;
}
a:hover{
    text-decoration: none;
}
